html {
  background-color: $accent-color;
  scroll-behavior: smooth;
}

html,
body {
  scroll-padding-top: 0;
  /* set to the height of your header */
}

body {
  @include font-serif;
  font-size: 18px;
  line-height: $lh;
  background-color: $brand-color;
  color: $text-color;

  @include mq('tablet-wide') {
    font-size: 20px;
  }

}

section.content {
  padding: 40px 20px 20px;
  text-align: center;
  background: $brand-color-darker;

  @include mq('tablet') {
    padding: 60px 10%;
  }

  @include mq('tablet-wide') {
    padding: 60px 18%;
  }

}

section.content img {
  margin: 20px auto 0;

  @include mq('tablet') {
    margin: 30px auto;
  }
}

section.content p img {
  opacity: 0;
  transition: opacity 0.5s ease-in 0.25s;
}

section.content img.in-view {
  opacity: 1;
}

section.content img.fade-in-img {
  opacity: 0;
  transition: opacity 0.5s ease-in 0.25s;
}

section.content img.fade-in-img.in-view {
  opacity: 1;
}
