<footer>

  <div class="container">
    <div class="column">
      <h5>The Stag Rackenford</h5>
      {{ site.footer_description_text | markdownify}}
    </div>

    <div class="column">
      <h5>Location</h5>
      {{ site.location_text | markdownify}}
    </div>

    <div class="column">
      <h5>Opening Times</h5>
      {{ site.opening_times_text | markdownify}}
    </div>

    <div class="column">
      <h5>Follow us</h5>
      <ul class="social-links">
        <li><a href="{{ site.facebook_url }}"><img src="/assets/img/icon/facebook.svg" width="24" height="24" class="icon" alt="Follow The Stag Rackenford on Facebook"> Facebook</a></li>
        <li><a href="{{ site.twitter_url }}"><img src="/assets/img/icon/twitter.svg" width="24" height="24" class="icon" alt="Follow The Stag Rackenford on Twitter"> Twitter</a></li>
        <li><a href="{{ site.instagram_url }}"><img src="/assets/img/icon/instagram.svg" width="24" height="24" class="icon" alt="Follow The Stag Rackenford on Instagram"> Instagram</a></li>
        <li><a href="{{ site.tripadvisor_url }}"><img src="/assets/img/icon/tripadvisor.svg" width="24" height="24" class="icon" alt="The Stag Rackenford TripAdvisor"> TripAdvisor</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright container">
    <p class="column">© 2019, <a href="https://www.thestagdevon.co.uk/">The Stag, Rackenford</a></p>
    <p class="column">Site designed by <a href="https://www.nigelpayne.com/">Nigel Payne</a></p>
  </div>
</footer>
