<footer>

  <div class="container">
    <div class="column">
      <h5>The Stag Rackenford</h5>
      {{ site.footer_description_text | markdownify}}
    </div>

    <div class="column">
      <h5>Location</h5>
      {{ site.location_text | markdownify}}
    </div>

    <div class="column">
      <h5>Opening Times</h5>
      {{ site.opening_times_text | markdownify}}
    </div>

    <div class="column">
      <h5>Follow us</h5>
      <ul class="social-links">
        {% if site.facebook_url %}<li><a href="{{ site.facebook_url }}"><img src="/assets/img/icon/facebook.svg" width="24" height="24" class="icon" alt="Follow The Stag Rackenford on Facebook"> Facebook</a></li>{% endif %}
        {% if site.twitter_url %}<li><a href="{{ site.twitter_url }}"><img src="/assets/img/icon/twitter.svg" width="24" height="24" class="icon" alt="Follow The Stag Rackenford on Twitter"> Twitter</a></li>{% endif %}
        {% if site.instagram_url %}<li><a href="{{ site.instagram_url }}"><img src="/assets/img/icon/instagram.svg" width="24" height="24" class="icon" alt="Follow The Stag Rackenford on Instagram"> Instagram</a></li>{% endif %}
        {% if site.tripadvisor_url %}<li><a href="{{ site.tripadvisor_url }}"><img src="/assets/img/icon/tripadvisor.svg" width="24" height="24" class="icon" alt="The Stag Rackenford TripAdvisor"> TripAdvisor</a></li>{% endif %}
      </ul>
    </div>
  </div>

  <div class="copyright container">
    <p class="column"><img src="/assets/img/The-Stag-Rackenford-Roundel-white.svg" alt="The Stag" class="roundel"></p>
    <p class="column">© 2019, <a href="/">The Stag, Rackenford</a>
      <br><br>Photography by <a href="http://www.ryanhallett.co.uk/">Ryan Hallett</a>
      <br>Site designed by <a href="https://www.nigelpayne.com/">Nigel Payne</a></p>
  </div>
</footer>
