<header>
  <nav class="topnav" id="myTopnav">
    <a href="/" {% if page.url == "/" %} class="selected" {% endif %}>Home</a>
    <a href="/about/" {% if page.url == "/about/" %} class="selected" {% endif %}>About</a>
    <a href="/events/" {% if page.url == "/events/" %} class="selected" {% endif %}>Events</a>
    <a href="/food/" {% if page.url == "/food/" %} class="selected" {% endif %}>Food</a>
    <a href="/stay/" {% if page.url == "/stay/" %} class="selected" {% endif %}>Stay</a>
    <a href="/gallery/" {% if page.url == "/gallery/" %} class="selected" {% endif %}>Gallery</a>
  </nav>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">Menu</a>

  <h1>
    <a href="/"><img src="/assets/img/the-stag-rackenford.svg" alt="The Stag Rackenford Devon"></a>
  </h1>

  <div class="contact-details">
    <a href="tel:{{ site.telephone }}">{{ site.telephone }}</a>
    <a href="mailto:{{ site.email_address }}">{{ site.email_address }}</a>
  </div>

</header>
