section.menus {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 60px;

  h1, h2, h3, h4, h5, h6 {
    margin: 24px 0 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $accent-color;
  }

  .small-text {
    font-size: 14px;
    margin: 0 20px;

    @include mq('tablet') {
      margin: 0 60px;
    }
  }

}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #F4E6B1;
  padding-top: 24px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  @include font-sans-uppercase;
  font-size: 12px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin: 0 4px;
  transition: 0.3s;
  display: inline-block;

  @include mq('phablet') {
    margin: 0 12px;
    padding: 10px 20px;
    font-size: 14px;
  }

  @include mq('tablet') {
    font-size: 18px;
    padding: 14px 30px;
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: $accent-color;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FAF2D6;
  color: $accent-color;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */

  @include mq('tablet') {
    padding: 60px 120px;
  }
}
.tabcontent p {
  margin: 0;
}
.tabcontent li {
  margin-bottom: 12px;
}

.tabcontent em {
  font-size: 16px;
  color: lighten( $text-color, 30% );
  font-style: normal;
  display: block;

  @include mq('phablet') {
    margin-left: 8px;
    display: inline-block;
  }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

section.content.beer-bread {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-direction: column-reverse;

  @include mq('tablet') {
    padding: 60px;
  }

  @include mq('tablet-wide') {
    flex-direction: row-reverse;
  }
}
section.beer-bread div {
  width: 100%;

  @include mq('tablet-wide') {
    flex: 1;
    width: auto;
  }
}
section.content img.beer-bread-image {
  margin: 0;
}

section.beer-bread .beer-bread-text {
  text-align: left;
  padding: 0 20px 20px;

  @include mq('tablet-wide') {
    text-align: left;
    padding: 0 60px;
  }
}

section.editable .beer-bread-text h2 {
  margin: 0;
}

section.editable.beer-bread h2::after {
  margin: 20px 0 24px;
}

/* ----- SUPPLIERS ------*/

section.suppliers {
  // background: $brand-color-lighter;
  padding: 20px;
  text-align: center;

  @include mq('tablet') {
    padding: 60px;
  }

  p {
    max-width: 800px;
    margin: 0 auto 12px;
    color: $text-color;
  }

  .supplier-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    @include mq('tablet') {
      padding: 60px;
    }

    .supplier {
      width: 100%;
      margin-bottom: 32px;
      // color: $brand-color;
      transition: color 0.3s ease;
      opacity: 1;

      @include mq('phone-wide') {
        width: 44%;
      }

      @include mq('tablet') {
        width: 30%;
      }

      @include mq('tablet-wide') {
        width: 17%;
      }

      .supplier-image-container {
        margin-bottom: 12px;
      }
    }
  }
}
.supplier img {
    opacity: 1;
    transition: opacity 0.3s ease;
}

section.suppliers.stay .supplier-container .supplier {
  width: 30%;
}

.supplier:hover {
    // color: $brand-color-darker;
}
.supplier:hover img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
}

section.suppliers h2 {
  @include font-sans-uppercase;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 24px;
  color: $accent-color;

  @include mq('tablet') {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
