section.content.home h3 {
  margin: 10px 0 24px;
  text-align: center;
  font-size: 30px;
  @include font-serif;

  @include mq('tablet') {
    font-size: 36px;
  }

  @include mq('desktop') {
    font-size: 40px;
  }
}

/* INTRO */
section.intro {
  text-align: center;
  padding: 20px;

  @include mq('tablet') {
    padding: 30px 10%;
  }

  @include mq('tablet-wide') {
    padding: 30px 19%;
  }

}
.intro img {
  width: 300px;
  margin: 0 auto;
}

.intro h3 {
  @include font-serif;

  @include mq('tablet-wide') {

    font-size: 24px;

  }
}



/* information */
section.information, section.large-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;

  @include mq('tablet-wide') {
    margin: 60px;
  }

}

section.information div {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;

  @include mq('tablet-wide') {
    width: 30%;
    padding-bottom: 0;
  }
}

section.information h4 {
  @include font-sans-uppercase;
  font-size: 24px;
  margin-bottom: 12px;

  @include mq('tablet-wide') {
    margin-bottom: 24px;
  }
}

/* large-nav */
section.large-nav {
  margin: 40px;

  @include mq('tablet') {
    margin: 0 40px 40px;
  }

  @include mq('tablet-wide') {
    margin: 0 60px 60px;
  }

}

section.large-nav a {
  width: 100%;
  text-align: center;
  background: $text-color;
  position: relative;
  margin-bottom: 40px;

  @include mq('tablet') {
    width: 30%;
    margin: 0;
  }
}

section.large-nav a.green-bg {
  background: $accent-color-green;
}

section.large-nav a.red-bg {
  background: $accent-color;
}

section.large-nav a.blue-bg {
  background: $accent-color-blue;
}

section.large-nav a img {
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

section.large-nav a:hover img {
  opacity: 0.1;
}

section.large-nav a span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include font-sans-uppercase;
  font-size: 24px;
  color: $brand-color-lighter;

  @include mq('tablet-wide') {
    font-size: 30px;
  }
}

section.content img.roundel {
  margin: 0;
  width: 80px;

  @include mq('tablet-wide') {
    width: 120px;
  }

}

section.container {
  display: flex;
  padding: 60px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq('tablet-wide') {
    font-size: 20px;
  }
}

section.container .column {
  width: 100%;
  position: relative;
  margin-bottom: 120px;

  @include mq('tablet-wide') {
    width: 47%;
    margin-bottom: 0;
  }

}

section.container .column h3 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 24px auto 12px;
}
