---
---

@import 'base';
@import 'fonts';

@import 'variables';
@import 'mixins';

@import 'typography';

html {
  background-color: $accent-color;
  scroll-behavior: smooth;
}

html,
body {
  scroll-padding-top: 140px;
  /* set to the height of your header */
}

body {
  @include font-serif;
  font-size: 18px;
  line-height: $lh;
  background-color: $brand-color;
  color: $text-color;

  @include mq('tablet-wide') {
    font-size: 20px;
  }

}

@import 'header';
@import 'heroes';

section.container {
  display: flex;
  padding: 60px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.container .column {
  width: 47%;
  position: relative;
}

section.container .column h3 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 24px auto 12px;
}

section.then-and-now {
  background: $text-color;
  color: $brand-color;
  padding: 120px 240px 60px;
}
section.then-and-now h3 {
  color: $brand-color-lighter;
}

section.then-and-now .roundel {
  width: 120px;
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translate(-50%, 0);
}

section.then-and-now img.then-and-now-image {
  margin-bottom: 20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: 60px auto 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* INTRO */
section.intro {
  text-align: center;
  padding: 30px 19%;
}
.intro img {
  width: 300px;
  margin: 0 auto;
}

.intro h3 {
  @include font-serif;
  font-size: 24px;
}

section.content.beer-bread {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
}
section.beer-bread div {
  flex: 1;
}
section.content img.beer-bread-image {
  margin: 0;
}

section.beer-bread .beer-bread-text {
  text-align: left;
  padding: 0 60px;
}

/* information */
section.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px;
}

section.information div {
  width: 30%;
  text-align: center;
  padding: 10px;
}

section.information h4 {
  @include font-sans-uppercase;
  font-size: 24px;
  margin-bottom: 24px;
}

/* large-nav */
section.large-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px 60px;
}

section.large-nav a {
  width: 30%;
  text-align: center;
  background: $text-color;
  position: relative;
}

section.large-nav a.green-bg {
  background: #576946;
}

section.large-nav a.red-bg {
  background: $accent-color;
}

section.large-nav a.blue-bg {
  background: #2F5A8B;
}

section.large-nav a img {
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

section.large-nav a:hover img {
  opacity: 0.1;
}

section.large-nav a span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include font-sans-uppercase;
  font-size: 30px;
  color: $brand-color-lighter;
}

section.content {
  padding: 60px 18%;
  text-align: center;
  background: #F4E6B1;
}

section.content.gallery {
  padding: 140px 60px 60px;
  background: #342E2B;
}
section.content.gallery img {
  max-height: 80vh;
  max-width: 80vw;
}

section.content.home h3 {
  margin: 10px 0 24px;
  text-align: center;
  font-size: 40px;
  @include font-serif;
}

section.content.about h3 {
  margin: 10px 0 24px;
  text-align: center;
  font-size: 40px;
  @include font-sans-uppercase;
}

section.content.about {
  // background: #2F5A8B;
  background: #0A262B;
  color: $brand-color;
}

section.events h3.date-of-event {
  color: $accent-color;
  margin-bottom: 24px;
}
section.events h2.title-of-event {
  font-size: 40px;
  margin-bottom: 24px;
}
section.events .event {
  padding-bottom: 60px;
}

section.events .event:nth-child(odd) {
  background: $brand-color;
}

section.content img {
  margin: 30px auto;
}
section.content.event img {
  max-width: 100%;
  max-height: 80vh;
}
section.content img.roundel {
  margin: 0;
  width: 120px;
}

/* ----- SUPPLIERS ------*/

section.suppliers {
  background: #1D1714;
  color: $brand-color;
  padding: 60px;
  text-align: center;

  .supplier-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    align-items: baseline;

    .supplier {
      width: 17%;
      margin-bottom: 32px;
      color: $brand-color;
      transition: color 0.3s ease;
      opacity: 1;

      .supplier-image-container {
        margin-bottom: 12px;
      }
    }
  }
}
.supplier img {
    opacity: 1;
    transition: opacity 0.3s ease;
}

section.suppliers.stay .supplier-container .supplier {
  width: 30%;
}

.supplier:hover {
    color: $brand-color-lighter;
}
.supplier:hover img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    // color: $brand-color-lighter;
}

section.suppliers h2 {
  @include font-sans-uppercase;
  font-size: 32px;
  margin-bottom: 30px;
}


/* ----- MENUS ------*/

section.menus {
  text-align: center;
  @include font-sans;
}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #F4E6B1;
  padding-top: 24px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  @include font-sans-uppercase;
  font-size: 24px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  margin: 0 12px;
  transition: 0.3s;
  display: inline-block;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: $accent-color;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FAF2D6;
  color: $accent-color;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 60px 120px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.tabcontent p {
  margin: 0;
}
.tabcontent li {
  margin-bottom: 12px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* ---------- */


a.endpagelink {
  @include font-sans-uppercase;
  font-size: 40px;
  // margin: 60px;
  padding: 200px 0;
  text-align: center;
  display: block;
  color: $brand-color-lighter;
  background: $text-color;
  position: relative;
  overflow: hidden;
}

a.endpagelink:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../img/landscape-the-stag-rackenford.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1;
}

a.endpagelink.food:before {
  background-image: url('../img/the-stag-menu.jpg');
}
a.endpagelink.event:before {
  background-image: url('../img/the-stag-events.jpg');
}

a.endpagelink span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 200px;
  z-index: 2;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

a.endpagelink:hover span {
  opacity: 1;
}

/* FOOTER */
footer {
  background-color: $text-color;
  color: $brand-color;
  padding: 60px;
  font-size: 18px;
}

footer .social-links li {
  margin-bottom: 20px;
}

footer .social-links li a::after {
  width: 0;
}

footer .social-links li a:hover {
  opacity: 0.7;
}

footer a {
  color: $brand-color-lighter;
  display: inline-block;
  transition: opacity 0.3s ease;
}

footer a img.icon {
  margin-right: 12px;
}

footer a:hover {
  text-decoration: none;
}

footer a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: $accent-color;
  transition: width .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

footer a:hover::after {
  width: 0;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

footer .container .column {
  width: 22%;
}

footer h5 {
  @include font-sans-uppercase;
  color: $brand-color-lighter;
  height: 56px;
  margin-bottom: 12px;
  font-size: 18px;
}

footer .copyright {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 0;
}

/* HEADROOM */
/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
  will-change: transform;
  transition: transform 300ms ease-in;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
