
footer {
  background-color: $text-color;
  color: $brand-color;
  padding: 40px;
  font-size: 16px;
  text-align: center;

  @include mq('tablet-wide') {
    padding: 60px;
    font-size: 18px;
    text-align: left;
  }
}

footer .social-links li {
  margin-bottom: 20px;
}

footer .social-links li a::after {
  width: 0;
}

footer .social-links li a:hover {
  opacity: 0.7;
}

footer a {
  color: $brand-color-lighter;
  display: inline-block;
  transition: opacity 0.3s ease;
}

footer a img.icon {
  margin-right: 12px;
}

footer a:hover {
  text-decoration: none;
}

footer a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: $accent-color;
  transition: width .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

footer a:hover::after {
  width: 0;
}

footer .container {
  display: block;
  margin-bottom: 24px;
  margin-top: 24px;

  @include mq('tablet-wide') {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

footer .container .column {
  width: 100%;
  margin-bottom: 40px;

  @include mq('tablet-wide') {
    width: 22%;
  }

}

footer h5 {
  @include font-sans-uppercase;
  color: $brand-color-lighter;
  margin-bottom: 20px;
  font-size: 18px;

  @include mq('tablet-wide') {
    height: 56px;
    margin-bottom: 12px;
  }
  @include mq('desktop') {
    height: auto;
    margin-bottom: 20px;
  }
}

footer .copyright {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 0;
}
