/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  background-color: $brand-color;
  text-align: center;
  padding: 20px;

  @include mq('tablet-wide') {
    padding: 40px 60px 30px;
  }
}

header a {
  @include font-sans-uppercase;
  text-decoration: none;
  color: $text-color;
  font-size: 14px;
  display: inline-block;
}

header nav {
  position: absolute;
  top:52%;
  transform: translate(0, -50%);
  display: none;
  left: 60px;
  @include mq('desktop-menu') {
    display: block;
  }

}

header nav.responsive {
  position: fixed;
  padding: 20px 0;
  top: 0;
  transform: none;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  background-color: $brand-color-darker;
  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mq('desktop-menu') {
    display: none;
  }
}

header nav a {
  margin-right: 28px;
}

header nav.responsive a {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;

  @include mq('tablet-wide') {
    padding: 20px 0;
    font-size: 20px;
  }

}

header div.contact-details {
  display: block;
  position: absolute;
  padding: 0;
  top: 9px;
  left: 0;
  width: 100%;
  z-index: 3;
  text-align: center;

  @include mq('tablet-wide') {
    text-align: right;
    position: absolute;
    top:50%;
    width: auto;
    padding: 0;
    left: auto;
    transform: translate(0, -50%);
    right: 60px;
    display: inline-block;
  }
}

header div.contact-details a {
  text-transform: none;
  margin: 0;
  font-size: 10px;
  padding: 0 5px;

  @include mq('tablet') {
    margin-left: 32px;
    padding: 0;
  }

  @include mq('tablet-wide') {
    margin-left: 32px;
    font-size: 14px;
    padding: 0;
  }

}

.telephone-and-email {


    @include mq('tablet-wide') {
      display: none;
    }
}

header .icon {
  display: block;
  position: absolute;
  top: 20px;
  width: 15px;
  height: 11px;
  z-index: 24;

  img {
    display: block;
  }

  @include mq('tablet-wide') {
    top:50%;
    transform: translate(0, -50%);
    left: 60px;
    display: inline-block;
  }

  @include mq('desktop-menu') {
    display: none;
  }
}

header a:hover {
  color: $accent-color;
}

header nav a::after {

  @include mq('desktop-menu') {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: $accent-color;
    transition: width .3s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

}

header nav a:hover::after {
  width: calc(100% - 2px);
}

header nav a.selected {
  text-decoration: underline;

  @include mq('desktop-menu') {
    text-decoration: none;
  }
}

header nav a.selected:after {
  width: calc(100% - 2px);
}

header h1 {
  position: relative;
  margin-top: 24px;

  @include mq('tablet-wide') {
    margin-top: -20px;
  }
}

header h1 a {
  width: 100px;

  @include mq('tablet') {
    width: 120px;
  }
  @include mq('desktop') {
    width: auto;
  }
}
