/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: $brand-color;
  text-align: center;
  padding: 30px;

  @include mq('tablet-wide') {
    padding: 40px 60px 30px;
  }
}

header a {
  @include font-sans-uppercase;
  text-decoration: none;
  color: $text-color;
  font-size: 14px;
  display: inline-block;
}

header nav {
  position: absolute;
  top:52%;
  transform: translate(0, -50%);
  display: none;
  left: 60px;
  @include mq('desktop-menu') {
    display: block;
  }

}

header nav.responsive {
  position: fixed;
  top: 102px;
  transform: none;
  left: 0;
  width: 100%;
  display: block;
  background-color: $brand-color;
  padding: 20px;
  // overflow-y: scroll;

  @include mq('tablet') {
    top: 113px;
  }
  @include mq('desktop') {
    top: 136px;
  }

  @include mq('desktop-menu') {
    display: none;
  }
}

header nav a {
  margin-right: 28px;
}

header nav.responsive a {
  display: block;
  margin: 0 auto;
  padding: 10px;
  @include mq('phone') {
    padding: 20px;
  }
}

header div {
  display: block;
  position: fixed;
  background: $accent-color;
  padding: 6px 20px 12px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  text-align: center;

  @include mq('tablet-wide') {

    background: none;
    position: absolute;
    top:52%;
    width: auto;
    padding: 0;
    left: auto;
    transform: translate(0, -50%);
    right: 60px;
    display: inline-block;
  }
}



header div.contact-details {
  text-align: center;
  @include mq('tablet-wide') {
    text-align: right;
  }
}

header div.contact-details a {
  text-transform: none;
  margin: 0;
  color: $brand-color;
  font-size: 10px;
  padding: 0 5px;
  @include mq('tablet-wide') {
    margin-left: 32px;
    color: $text-color;
    font-size: 14px;
    padding: 0;
  }
}

.telephone-and-email {


    @include mq('tablet-wide') {
      display: none;
    }
}

header .icon {
  display: block;
  position: absolute;
  top: 58%;
  transform: translate(0, 0%);

  @include mq('tablet-wide') {
    top:52%;
    transform: translate(0, -50%);
  }

  @include mq('desktop-menu') {
    display: none;
  }
}

header a:hover {
  color: $accent-color;
}

header nav a::after {

  @include mq('desktop-menu') {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: $accent-color;
    transition: width .3s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

}

header nav a:hover::after {
  width: calc(100% - 2px);
}

header nav a.selected:after {
  width: calc(100% - 2px);
}

header h1 {
  margin-top: 24px;

  @include mq('tablet-wide') {
    margin-top: -20px;
  }
}

header h1 a {
  width: 120px;

  @include mq('tablet') {
    width: 120px;
  }
  @include mq('desktop') {
    width: auto;
  }
}
