<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% include titles.html %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<link rel="icon" href="/assets/img/favicon-32x32.png">
	<meta name="theme-color" content="#812024">
	<!-- <meta name="twitter:card" content="summary_large_image">
	    <meta name="twitter:site" content="@thestagrackenford">
	    <meta name="twitter:title" content="The Stag Rackenford">
	    <meta name="twitter:description" content="{{ site.description }}">
	    <meta name="twitter:image" content="https://www.thestagdevon.co.uk/the-stag-rackenford.jpg"> -->
	<meta property="og:title" content="{% include titles.html %}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.thestagdevon.co.uk/">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:image" content="/assets/img/the-stag-rackenford.jpg">
	<link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>

	{% include header.html %}


		{{ content }}

	  {% include footer.html %}


	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<script src="/assets/js/headroom.min.js"></script>
	<script src="/assets/js/main.js"></script>
	{% if page.url == "/food/" %}<script src="/assets/js/tabs.js"></script>{% endif %}

</body>

</html>
