---
layout: default
---

<section class="hero food">

	<span>
		<h2>
			{{ page.title }}
		</h2>

		<a href="#intro" class="tell-me-more">View our menus <br><svg xmlns="http://www.w3.org/2000/svg" width="25.413" height="13.413" viewBox="0 0 25.413 13.413">
				<path d="M2607.707,620.258l12.353,12.353,12.353-12.353" transform="translate(-2607.354 -619.904)" fill="none" stroke="#ffffff" stroke-width="1" /></svg></a>
	</span>

</section>

<section class="content" id="intro">

		{{ content }}

</section>

<section class="menus">
{% for menu in site.menus %}

<div class="menu">

	<h2>{{ menu.title }}</h2>

	{{ menu.content | markdownify}}
</div>

{% endfor %}
</section>

<section>
	<h3>{{ page.food-content.header }}</h3>
	{{ page.food-content.text | markdownify}}
	<img src="{{ page.food-content.image }}" alt="{{ page.food-content.header }}">
</section>

<section class="suppliers">
{% for supplier in site.suppliers %}

<div class="supplier">

	<img src="{{ supplier.image }}" alt="{{ supplier.title }}">

	<h3>{{ supplier.title }}</h3>

</div>

{% endfor %}
</section>

<a href="/events/" class="endpagelink">Upcoming events</a>
