---
layout: default
---

<section class="hero">

	<span>
		<h2>
			{{ page.title }}
		</h2>

		<a href="#intro" class="tell-me-more">Tell me more <br><svg xmlns="http://www.w3.org/2000/svg" width="25.413" height="13.413" viewBox="0 0 25.413 13.413">
				<path d="M2607.707,620.258l12.353,12.353,12.353-12.353" transform="translate(-2607.354 -619.904)" fill="none" stroke="#ffffff" stroke-width="1" class="arrow" /></svg></a>
	</span>
</section>

<section class="intro" id="intro">

	{{ content }}

</section>

<section class="information">
	<div>
		<h4>Opening times</h4>
		{{ site.opening_times_text | markdownify}}
	</div>
	<div>
		<h4>Reservations</h4>
		{{ site.reservations_text | markdownify}}
	</div>
	<div>
		<h4>Location</h4>
		{{ site.location_text | markdownify}}
	</div>
</section>

<section class="large-nav">
	<a href="/food/" class="red-bg"><img src="/assets/img/the-stag-our-menus.jpg" alt="View our menus"><span>Our menus</span></a>
	<a href="/about/" class="blue-bg"><img src="/assets/img/stag-then-and-now.jpg" alt="About The Stag"><span>Then and now</span></a>
	<a href="/events/" class="green-bg"><img src="/assets/img/upcoming-events.jpg" alt="Events and latest news"><span>Upcoming events</span></a>
</section>

<section class="content editable steve-oliver">
	<div class="steve-oliver-text">
		<h2>{{ page.you-content.header }}</h2>
		{{ page.you-content.text | markdownify}}
	</div>
	<div>
		<img src="{{ page.you-content.image }}" alt="{{ page.you-content.header }}" class="steve-oliver-image fade-in-img">
	</div>
</section>

<section class="content home">

	<img src="/assets/img/The-Stag-Rackenford-Roundel.svg" alt="The Stag Rackenford" class="roundel">

	{{ page.content-text | markdownify}}

</section>
